---
import { Icon } from "astro-icon";

import { languages } from "../../i18n/ui";
import { getLangFromUrl, useTranslatedPath } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<ul class="flex gap-1">
  {
    (
      <>
        <li
          class={`rounded px-1 transition-all hover:bg-karasubaido/30 dark:hover:bg-ume-nezu/30 ${
            getLangFromUrl(Astro.url) === "en" &&
            "bg-karasubaido text-ume-nezu dark:bg-ume-nezu dark:text-karasubaido"
          }`}
        >
          <a href={translatePath("/", "en")} class="font-black">
            en
          </a>
        </li>
        <li
          class={`rounded px-1 transition-all hover:bg-karasubaido/30 dark:hover:bg-ume-nezu/30 ${
            getLangFromUrl(Astro.url) === "es" &&
            "bg-karasubaido text-ume-nezu dark:bg-ume-nezu dark:text-karasubaido"
          }`}
        >
          <a href={translatePath("/", "es")} class="font-black">
            es
          </a>
        </li>
      </>
    )
  }
</ul>
