---
import { Icon } from "astro-icon";

import { languages } from "../../i18n/ui";
import { getLangFromUrl, useTranslatedPath } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<ul class="flex gap-1">
  {
    (
      <>
        <li>
          <a href={translatePath("/", "en")}>en</a>
        </li>
        <li>
          <a href={translatePath("/", "es")}>es</a>
        </li>
      </>
    )
  }
</ul>
