---
import Bio from "../../components/Bio.astro";
import Footer from "../../components/Footer.astro";
import MainFrame from "../../components/MainFrame.astro";
import Nav from "../../components/Nav.astro";
import Projects from "../../components/Projects.astro";
import ToggleTheme from "../../components/ToggleTheme.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Lucas Blanco">
  <header
    class="mx-auto grid grid-flow-col justify-between px-4 py-2 font-young text-sm md:text-base"
  >
    <p class="text-anim block">LUCAS BLANCO</p>
    <ToggleTheme />
    <p class="text-anim block">WEB DEVELOPER</p>
  </header>
  <Nav />
  <main
    class="mx-auto mb-24 grid w-base-width place-content-center gap-24 md:gap-44"
  >
    <MainFrame />
    <Bio />
    <Projects />
  </main>
  <Footer />
</Layout>
<script>
  import { gsap } from "gsap";

  // const pElements = document.querySelectorAll();
  gsap.from(".text-anim", {
    duration: 2.5,
    x: -300,
    opacity: 0,
    ease: "power1.inOut",
  });

  gsap.from(".footer-anim", {
    duration: 2.5,
    x: "-100%",
    opacity: 0,
    ease: "power1.inOut",
  });

  gsap.from(".text-anim-reverse", {
    duration: 2.5,
    x: 300,
    opacity: 0,
    ease: "power1.inOut",
  });
</script>
