---
import { Image } from "astro:assets";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

import profileImage from "../images/thelastone.svg";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="aboutme" class="md:px-4">
  <article>
    <p
      class="whitespace-pre-wrap text-center text-xxs italic md:text-center md:text-base"
    >
      {t("bio.p1")}
    </p>
  </article>
</section>
<style></style>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".bio-img", {
    scrollTrigger: {
      trigger: ".bio-img",
      toggleActions: "play none none reverse",
      start: "center bottom",
    },
    // opacity: 0,
    clipPath: "polygon(0 0, 100% 5%, 100% 100%, 0 95%)",
    ease: "power3.inOut",
    delay: 0.1,
    duration: 2,
  });

  gsap.from(".char", {
    scrollTrigger: {
      trigger: ".bio-img",
      toggleActions: "play none none reverse",
      start: "center bottom",
    },
    opacity: 0,
    y: 20,
    stagger: 0.03,
    ease: "sine.inOut",
    delay: 0.1,
    duration: 0.3,
  });
</script>
