---
// BAJAR CON EL MOUSE LA IMAGEN HACIA ABAJO
// class="box-container relative grid h-fit grid-flow-col gap-2 text-xs"
//  class="profile-image relative w-[600px] self-start rounded-lg saturate-0 md:w-7"
---

<div
  class="grid items-center justify-center text-xs md:grid-flow-col md:grid-cols-2"
>
  <section class="grid h-full items-center gap-5">
    <article class="grid gap-2">
      <h3 class="text-2xl italic">¡HOLA!</h3>
      <div class="font-silk">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis ab
          asperiores officia cupiditate a fugiat hic est, maxime accusantium
          totam alias quia. Impedit blanditiis officiis fugit odit. Reiciendis,
          expedita sapiente.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo earum
          maxime sunt natus nesciunt velit! Enim libero ad at expedita
          repudiandae maxime cupiditate, consequuntur eveniet, voluptatibus eius
          nobis, optio maiores!
        </p>
      </div>
    </article>
    <article class="grid gap-2">
      <h3 class="text-xl italic">TECNOLOGIAS QUE USO</h3>
      <div class="font-silk w-56">
        <p class="inline-block">
          <span>lorem</span>lorem<span>lorem</span>lorem<span>lorem</span>
        </p>
        <p class="inline-block">
          <span>lorem</span>lorem<span>lorem</span>lorem
        </p>
        <p class="inline-block">
          <span>lorem</span>lorem<span>lorem</span>lorem<span>lorem</span>
        </p>
        <p class="inline-block">
          <span>lorem</span>lorem<span>lorem</span>
        </p>
      </div>
    </article>
  </section>
  <img
    src="https://res.cloudinary.com/du8wo1cxh/image/upload/v1700173905/ax1ndgvpapg6ht7rebry.jpg"
    alt=""
    class="last: row-start-1 w-64 justify-self-center object-cover sepia before:absolute before:content-['HOLA!'] md:w-72"
  />
</div>
