---
import { Image } from "astro:assets";

// import Icon from "astro-icon";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
// import me from "../images/me.png";
import profileImage from "../images/thelastone.svg";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="aboutme" class="grid gap-4 md:grid-cols-2 md:px-4">
  <article>
    <p class="whitespace-pre-wrap text-center text-xxs md:text-left md:text-lg">
      {t("bio.p1")}
    </p>
  </article>

  <div
    class="bio-img grid aspect-video w-full place-content-center [clip-path:polygon(0%_0%,100%_0%,100%_0%,0%_0%)] md:aspect-auto"
  >
    <Image
      src={profileImage}
      alt=""
      class="relative aspect-video h-full bg-pure-white object-cover object-m-position md:aspect-auto"
    />
  </div>
</section>
<style></style>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import SplitType from "split-type";

  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".bio-img", {
    scrollTrigger: {
      trigger: ".bio-img",
      toggleActions: "play none none reverse",
      start: "center bottom",
    },
    // opacity: 0,
    clipPath: "polygon(0 0, 100% 5%, 100% 100%, 0 95%)",
    ease: "power3.inOut",
    delay: 0.1,
    duration: 2,
  });

  gsap.from(".char", {
    scrollTrigger: {
      trigger: ".bio-img",
      toggleActions: "play none none reverse",
      start: "center bottom",
    },
    opacity: 0,
    y: 20,
    stagger: 0.03,
    ease: "sine.inOut",
    delay: 0.1,
    duration: 0.3,
  });
</script>
