---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="border-y border-y-pure-black text-end dark:border-y-pure-white">
  <div class="flex items-center justify-between py-1 md:px-4 md:py-2">
    <p class="text-xxs md:text-sm">{t("exp.current")}</p>
    <span class="">>>></span>
    <div class="flex flex-col items-center">
      <a href="https://austral.cz/" target="_blank">
        <svg
          class="w-16 fill-pure-black dark:fill-pure-white md:w-36"
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1530.000000 340.000000"
          preserveAspectRatio="xMidYMid meet"
          class="injected-svg"
          data-src="assets/img/logos/austral.svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g
            transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)"
            stroke="none"
          >
            <path
              d="M1719 3060 c-66 -11 -139 -52 -185 -102 -30 -33 -111 -193 -356 -709  -175 -366 -320 -673 -324 -682 -6 -15 17 -17 277 -20 156 -2 55 -2 -226 0  -564 4 -574 4 -648 -58 -118 -97 -118 -301 0 -398 53 -44 119 -61 235 -61 54  0 98 -4 98 -8 0 -5 -32 -75 -71 -157 -88 -183 -99 -215 -99 -279 0 -174 203  -302 383 -240 87 30 112 66 252 376 70 156 129 289 132 295 4 10 -61 13 -288  16 -162 2 -31 3 291 3 581 -1 585 -1 625 21 47 25 96 74 121 123 13 25 19 56  19 110 0 88 -21 136 -84 193 -60 54 -118 67 -294 67 -89 0 -147 4 -145 9 7 22  363 810 364 808 2 -2 135 -301 725 -1622 150 -336 171 -368 269 -400 201 -67  412 101 369 294 -5 25 -247 546 -537 1156 -509 1072 -529 1112 -582 1166 -82  83 -203 120 -321 99z"
            ></path>
            <path
              d="M13924 3042 c-90 -32 -146 -91 -164 -176 -8 -36 -10 -392 -8 -1206  l3 -1155 22 -40 c28 -54 68 -89 128 -117 l50 -23 520 0 c518 0 520 0 561 22  50 27 109 93 125 140 6 19 9 67 7 107 -4 90 -40 156 -108 198 -67 42 -126 48  -436 48 l-283 0 -3 -142 c-2 -79 -3 375 -3 1007 0 1300 6 1205 -80 1284 -74  68 -219 92 -331 53z"
            ></path>
            <path
              d="M8472 2789 c-114 -15 -200 -89 -221 -189 -6 -28 -11 -123 -11 -210  l0 -160 -92 0 c-224 -1 -311 -64 -312 -225 -1 -89 30 -148 96 -185 39 -22 56  -25 175 -28 l132 -4 3 -456 c4 -431 5 -461 26 -535 63 -228 214 -371 458 -432  114 -29 347 -49 424 -36 148 25 211 89 211 215 0 147 -53 190 -260 210 -140  14 -189 31 -225 80 -44 60 -46 78 -46 527 l0 429 174 0 c191 0 238 9 290 58  41 39 56 82 56 159 -1 111 -37 169 -130 203 -22 8 -103 15 -212 18 l-176 4 -4  187 c-3 177 -4 189 -29 236 -54 106 -176 156 -327 134z"
            ></path>
            <path
              d="M3845 2260 c-99 -14 -188 -85 -213 -169 -9 -27 -12 -199 -12 -583 0  -568 4 -641 46 -773 88 -275 306 -416 644 -418 230 0 400 72 519 222 l38 49 6  -49 c17 -144 145 -233 310 -215 112 11 199 69 236 156 21 50 21 51 19 827 -3  737 -4 780 -22 813 -43 81 -104 123 -204 139 -110 18 -221 -9 -280 -69 -70  -69 -66 -43 -73 -595 -5 -481 -6 -502 -27 -565 -27 -80 -76 -148 -136 -190  -68 -46 -121 -62 -213 -63 -71 0 -90 4 -140 29 -38 19 -67 43 -86 69 -52 76  -57 131 -57 679 0 353 -3 510 -12 538 -16 55 -78 121 -135 145 -57 24 -139 33  -208 23z"
            ></path>
            <path
              d="M6598 2255 c-378 -72 -624 -339 -592 -645 29 -285 196 -416 649 -510  270 -55 353 -84 394 -136 50 -63 9 -154 -87 -191 -38 -15 -75 -18 -197 -17  -175 0 -214 9 -415 91 -201 82 -292 83 -352 2 -37 -50 -51 -103 -46 -173 10  -119 63 -181 215 -253 120 -57 266 -90 459 -103 367 -25 637 43 810 204 117  108 164 220 164 390 0 168 -35 261 -134 353 -106 100 -257 159 -571 224 -235  48 -309 78 -340 139 -34 65 -4 136 75 180 38 20 62 25 146 28 129 5 189 -10  358 -91 116 -55 139 -62 204 -65 63 -4 77 -1 107 19 56 39 85 103 85 191 0  140 -61 211 -246 288 -150 62 -250 82 -439 86 -120 2 -193 -1 -247 -11z"
            ></path>
            <path
              d="M9990 2260 c-95 -16 -165 -62 -203 -134 l-22 -41 -3 -760 c-2 -551 0  -775 8 -814 15 -68 69 -129 143 -162 41 -19 70 -23 142 -24 79 0 97 3 147 28  65 32 110 80 127 136 7 26 11 164 11 422 0 211 4 420 9 464 13 109 43 184 98  245 76 84 166 119 365 140 179 18 253 50 292 125 17 33 21 58 21 146 0 98 -2  108 -27 146 -17 26 -45 49 -75 64 -42 21 -61 24 -143 22 -231 -5 -413 -98  -521 -266 l-39 -60 0 63 c0 34 -5 80 -11 101 -34 112 -176 183 -319 159z"
            ></path>
            <path
              d="M12074 2255 c-273 -42 -505 -137 -569 -233 -66 -100 -31 -277 65  -327 51 -26 140 -19 238 19 340 133 577 151 689 53 52 -46 75 -105 81 -209 l5  -88 -109 0 c-152 0 -412 -18 -519 -35 -393 -64 -549 -210 -549 -515 0 -134 24  -219 95 -324 119 -178 319 -276 569 -279 134 -1 198 12 296 59 72 36 163 115  190 167 19 35 34 35 34 -1 0 -46 51 -134 97 -169 109 -81 312 -63 394 36 58  70 59 86 59 636 0 627 -8 697 -93 875 -78 160 -220 268 -422 321 -104 28 -412  35 -551 14z m504 -1164 c-9 -154 -81 -272 -202 -331 -155 -75 -316 -37 -380  91 -31 64 -34 126 -7 186 44 96 186 138 480 142 l114 1 -5 -89z"
            ></path>
          </g>
          <g
            transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)"
            stroke="none"
          >
            <path
              d="M340 1534 c-184 -54 -233 -319 -83 -443 68 -56 67 -56 823 -56 693 0 695 0 735 22 47 25 96 74 121 123 27 52 26 172 -3 225 -28 52 -78 100 -128 121 -36 16 -104 17 -730 19 -548 2 -699 -1 -735 -11z"
            ></path>
            <path
              d="M14339 683 c-4 -149 -6 -161 -32 -216 -32 -65 -83 -106 -163 -131 -45 -14 -17 -15 401 -13 444 2 451 2 491 24 50 27 109 93 125 140 6 19 9 67 7 107 -4 90 -40 156 -108 198 -67 41 -126 48 -435 48 l-283 0 -3 -157z"
            ></path>
          </g>
        </svg></a
      >
      <div class="text-xxs md:text-xs">{t("exp.date_current")}</div>
    </div>
  </div>
</section>
