---

---

<footer class="mx-auto grid w-[calc(100vw_-_10%)] max-w-[1000px]">
  <div class="flex justify-between py-4 text-xs md:text-base">
    <div class="grid content-start gap-2 md:gap-0">
      <div class="grid grid-flow-col items-center justify-start gap-[2px]">
        <button onclick="copyContent()" class="footer-link">email</button><span
          class="button-msg text-xxs opacity-50 before:content-['{'] after:content-['}'] md:text-xs"
          >tocá para copiar</span
        >
      </div>
      <a href="$" class="footer-link" target="_blank">whatsapp</a>
    </div>
    <div class="grid gap-2 md:gap-0">
      <a
        href="https://github.com/lucasmblanco"
        class="footer-link justify-self-end"
        target="_blank"
      >
        github</a
      >
      <a
        href="https://www.linkedin.com/in/lucas-matias-blanco/"
        class="footer-link justify-self-end"
        target="_blank"
      >
        linkedin</a
      >
      <a
        href="https://docs.google.com/document/d/1MXRM9xi3P7pAaRqdSlBUE2L902qBaqYyRsly5ULosLU/edit?usp=sharing"
        target="_blank"
        class="footer-link justify-self-end">cv</a
      >
    </div>
  </div>
  <p class="text-center text-xxs opacity-50 md:text-sm">
    Hecho con mucho &#129481; desde Córdoba, Argentina.
  </p>
</footer>
<script is:inline>
  const buttonMsg = document.querySelector(".button-msg");

  const copyContent = async () => {
    try {
      await navigator.clipboard.writeText("lucasmatiasblanco@outlook.com");
      buttonMsg.textContent = "copied to the clipboard";
    } catch (err) {
      console.error("Failed to copy: ", err);
    }
  };
</script>
