---

---

<footer
  class="fixed bottom-0 left-0 w-full bg-pure-white text-smoll text-pure-black shadow-footer-light dark:bg-pure-black dark:text-pure-white dark:shadow-footer md:text-sm"
>
  <hr
    class="footer-anim border-t-[1px] border-pure-black/75 dark:border-pure-white/75"
  />
  <div class="mx-auto grid w-[98%] grid-flow-col justify-between p-2 md:p-4">
    <ul class="grid grid-flow-col gap-2 md:gap-4">
      <li class="text-anim-reverse">
        <a
          href="https://www.linkedin.com/in/lucas-matias-blanco/"
          class="hover-effect"
          ><span class="text-anim-reverse">linkedin</span><span
            class="underline-el absolute bottom-0 left-0 block h-[1px] bg-pure-black dark:bg-pure-white"
          ></span></a
        >
      </li>
      <li class="text-anim-reverse">
        <a href="https://github.com/lucasmblanco" class="hover-effect"
          ><span class="text-anim-reverse">github</span><span
            class="underline-el absolute bottom-0 left-0 block h-[1px] bg-pure-black dark:bg-pure-white"
          ></span></a
        >
      </li>
    </ul><p class="text-anim-reverse">córdoba, argentina</p>
  </div>
</footer>
<script>
  import { gsap } from "gsap";
  gsap.from(".footer-anim", {
    rotation: 0.01,
    duration: 1,
    x: "-100%",
    opacity: 0,
    ease: "power1.inOut",
  });

  gsap.from(".text-anim-reverse", {
    rotation: 0.01,
    duration: 1,
    x: 300,
    opacity: 0,
    ease: "power1.inOut",
  });
</script>
