---
import MemoNavMobileIcon from "../icons/NavMobileIcon";
import { Icon } from "astro-icon/components";
---

<header
  class="mx-auto flex w-[calc(100vw_-_10%)] max-w-[1000px] justify-between gap-4"
>
  <h1 class="py-2 font-oi text-base md:text-2xl">lucas</h1>
  <button class="toggle-nav nav-mobile-icon block md:hidden"
    ><Icon name="pixelarticons:chevron-down" /></button
  >
</header>
<script>
  import { gsap } from "gsap";
  const navButtonMobile = document.querySelector("button.toggle-nav");
  const navBar = document.querySelector(".navigation-bar");
  navButtonMobile?.addEventListener("click", () => {
    if (navBar?.classList.contains("active")) {
      navBar.classList.remove("active");
      // gsap.to(".nav-mobile-icon", {
      //   rotate: 180,
      //   ease: "power3.inOut",
      // });
      gsap.to(navBar, {
        clipPath: "polygon(0 0, 100% 0%, 100% 0%, 0 0%)",
        ease: "power3.inOut",
      });
    } else {
      // gsap.to(".nav-mobile-icon", {
      //   rotate: 0,
      //   ease: "power3.inOut",
      // });
      navBar?.classList.add("active");
      gsap.to(navBar, {
        clipPath: "polygon(0 0, 100% 0%, 100% 100%, 0 100%)",
        ease: "power3.inOut",
      });
    }
  });
</script>
