---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";
import ToggleTheme from "./ToggleTheme.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
// class="sticky top-0 z-50 bg-pink-300 px-4 py-1 font-roboto-mono text-xs text-pure-black dark:bg-lime-500"
---

<nav class="sticky top-0 z-50 grid bg-pure-white text-sm dark:bg-pure-black">
  <ul
    class="navigation-bar absolute grid w-[calc(100vw_-_10%)] max-w-[1000px] grid-flow-col justify-center gap-3 justify-self-center border-b border-b-pure-black bg-pure-white py-1 text-sm dark:border-b-pure-white dark:bg-pure-black max-md:[clip-path:polygon(0%_0%,100%_0%,100%_0%,0%_0%)] md:sticky md:mx-auto md:justify-start md:justify-self-start"
  >
    <li class="shrink grow-0 basis-16"><ToggleTheme /></li>
    <li>
      <p class="flex gap-1">
        <a
          href={translatePath("/", "en")}
          class=`${getLangFromUrl(Astro.url) === "en" && "before:content-['['] after:content-[']'] "}`
          >en</a
        >
        <a
          href={translatePath("/", "es")}
          class=`${getLangFromUrl(Astro.url) === "es" && "before:content-['['] after:content-[']'] "}`
          >es</a
        >
      </p>
    </li>
    <li>
      <a
        href="#projects"
        class="before:opacity-0 before:content-['['] after:opacity-0 after:content-[']'] before:hover:opacity-100 after:hover:opacity-100"
        >{t("nav.projects")}</a
      >
    </li>
    <li>
      <a
        href="#aboutme"
        class="before:opacity-0 before:content-['['] after:opacity-0 after:content-[']'] before:hover:opacity-100 after:hover:opacity-100"
        >info</a
      >
    </li>
  </ul>
</nav>
<script>
  const mql = window.matchMedia("screen and (min-width: 768px)");

  window.addEventListener("resize", onrecize);

  function onrecize() {
    const navBar = document.querySelector("ul.navigation-bar");
    if (mql.matches) {
      if (navBar?.hasAttribute("style")) {
        navBar?.removeAttribute("style");
        navBar?.classList.remove("active");
      }
    }
  }
</script>
