---
import { Icon } from "astro-icon";

import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";
import LanguagePicker from "./nav_components/LanguagePicker.astro";
import ToggleTheme from "./nav_components/ToggleTheme.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
// const translatePath = useTranslatedPath(lang);
---

<nav>
  <ul class="grid justify-items-center gap-2 py-2">
    <li class="text-center">
      <Icon name="majesticons:home" class="h-6 w-6" />
    </li>
    <li
      class="grid w-fit grid-flow-col place-content-center gap-1 rounded bg-karasubaido/30 px-2 py-1 dark:bg-ume-nezu/30"
    >
      <LanguagePicker />
      <hr />
      <ToggleTheme />
    </li>
    <li>
      <ul class="grid grid-flow-col items-center font-bold">
        <li>
          <a
            href="$"
            class="rounded px-1 transition-all hover:bg-karasubaido/30 dark:hover:bg-ume-nezu/30"
            >{t("nav.projects")}</a
          >
        </li>
        <li class="text-center">
          <a
            href="$"
            class="rounded px-1 transition-all hover:bg-karasubaido/30 dark:hover:bg-ume-nezu/30"
            >{t("nav.cv")}</a
          >
        </li>
        <li>
          <a
            href="$"
            class="rounded px-1 transition-all hover:bg-karasubaido/30 dark:hover:bg-ume-nezu/30"
            >{t("nav.contact")}</a
          >
        </li>
      </ul>
    </li>
  </ul>
</nav>
