---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";
import LanguagePicker from "./nav_components/LanguagePicker.astro";
import ToggleTheme from "./nav_components/ToggleTheme.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
// const translatePath = useTranslatedPath(lang);
---

<nav>
  <ul class="grid w-full flex-col py-1 md:grid-flow-col md:justify-between">
    <li class="text-center">
      <p>HOME</p>
    </li>
    <li>
      <ul class="flex place-content-center justify-between gap-2">
        <li>
          <a
            href="$"
            class="rounded px-1 transition-all hover:bg-karasubaido/30 dark:hover:bg-ume-nezu/30"
            >{t("nav.projects")}</a
          >
        </li>
        <li>
          <a
            href="$"
            class="rounded px-1 transition-all hover:bg-karasubaido/30 dark:hover:bg-ume-nezu/30"
            >{t("nav.cv")}</a
          >
        </li>
        <li>
          <a
            href="$"
            class="rounded px-1 transition-all hover:bg-karasubaido/30 dark:hover:bg-ume-nezu/30"
            >{t("nav.contact")}</a
          >
        </li>
        <li><LanguagePicker /></li>
        <li><ToggleTheme /></li>
      </ul>
    </li>
  </ul>
</nav>
