---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav>
  <ul class="flex w-full flex-col md:flex-row md:justify-between">
    <li class="text-center">
      <p>HOME</p>
    </li>
    <li>
      <ul class="flex place-content-center justify-between">
        <li>{t("nav.projects")}</li>
        <li>{t("nav.cv")}</li>
        <li>{t("nav.contact")}</li>
      </ul>
    </li>
  </ul>
</nav>
