---

---

<section class="grid gap-4 md:grid-cols-2 md:px-4">
  <div class="grid gap-2 text-center text-xs dark:text-pure-black md:text-base">
    <div class="marquee relative flex select-none overflow-hidden">
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#a3a380]"
      >
        <li>HTML</li>
        <li>CSS</li>
        <li>SASS</li>
        <li>JAVASCRIPT</li>
        <li>TYPESCRIPT</li>
      </ul>
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#a3a380]"
        aria-hidden="true"
      >
        <li>HTML</li>
        <li>CSS</li>
        <li>SASS</li>
        <li>JAVASCRIPT</li>
        <li>TYPESCRIPT</li>
      </ul>
    </div>
    <div class="marquee relative flex select-none overflow-hidden">
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#d6ce93] px-2"
      >
        <li>ASTRO</li>
        <li>NEXT.JS</li>
        <li>EXPRESS.JS</li>
        <li>TAILWINDCSS</li>
      </ul>
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#d6ce93] px-2"
        aria-hidden="true"
      >
        <li>ASTRO</li>
        <li>NEXT.JS</li>
        <li>EXPRESS.JS</li>
        <li>TAILWINDCSS</li>
      </ul>
    </div>
    <div class="marquee relative flex select-none overflow-hidden">
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#efebce] px-2"
      >
        <li>REACT</li>
        <li>VUE.JS</li>
      </ul>
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#efebce] px-2"
        aria-hidden="true"
      >
        <li>REACT</li>
        <li>VUE.JS</li>
      </ul>
    </div>
    <div class="marquee relative flex select-none overflow-hidden">
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#d8a48f] px-2"
      >
        <li>FIREBASE</li>
        <li>MONGODB</li>
        <li>POSTGRESQL</li>
      </ul>
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#d8a48f] px-2"
        aria-hidden="true"
      >
        <li>FIREBASE</li>
        <li>MONGODB</li>
        <li>POSTGRESQL</li>
      </ul>
    </div>
    <div class="marquee relative flex select-none overflow-hidden">
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#bb8588] px-2"
      >
        <li>GIT</li>
        <li>GITHUB</li>
        <li>WEBPACK</li>
        <li>VITE</li>
        <li>FIGMA</li>
      </ul>
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#bb8588] px-2"
        aria-hidden="true"
      >
        <li>GIT</li>
        <li>GITHUB</li>
        <li>WEBPACK</li>
        <li>VITE</li>
        <li>FIGMA</li>
      </ul>
    </div>
  </div>
  <p class="text-center text-xxs md:text-right md:text-lg">
    Voy experimentando con diferentes tecnologias para poder tener un abanico
    cada vez más amplio de posibles soluciones a la hora de abordar un problema;
    sin importar si es relacionado al front o al back, considero que es
    importante aprender el funcionamiento de las tecnologías desde ambas
    perspectivas para así lograr que su aplicación sea más óptima. Esto también
    me permite tener flexibilidad para incorporar rapidamente nuevos
    conocimientos.
  </p>
</section>

<style>
  .marquee {
    --gap: 0.001rem;
    gap: var(--gap);
  }

  .marquee:hover {
    filter: brightness(1.1);
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  .marquee__content {
    gap: var(--gap);
    animation: scroll 10s linear infinite;
  }
</style>
