---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!-- <section class="grid gap-4 md:grid-cols-2 md:px-4"> -->
<section class="md:px-4">
  <div class="grid text-center text-xs dark:text-pure-black md:text-lg">
    <div class="marquee relative flex select-none overflow-hidden bg-[#a3a380]">
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#a3a380] p-3"
      >
        <li>HTML</li>
        <li>CSS</li>
        <li>SASS</li>
        <li>JAVASCRIPT</li>
        <li>TYPESCRIPT</li>
      </ul>
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#a3a380] p-3"
        aria-hidden="true"
      >
        <li>HTML</li>
        <li>CSS</li>
        <li>SASS</li>
        <li>JAVASCRIPT</li>
        <li>TYPESCRIPT</li>
      </ul>
    </div>
    <div class="marquee relative flex select-none overflow-hidden bg-[#d6ce93]">
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#d6ce93] p-3 px-2"
      >
        <li>ASTRO</li>
        <li>NEXT.JS</li>
        <li>EXPRESS.JS</li>
        <li>TAILWINDCSS</li>
      </ul>
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#d6ce93] p-3 px-2"
        aria-hidden="true"
      >
        <li>ASTRO</li>
        <li>NEXT.JS</li>
        <li>EXPRESS.JS</li>
        <li>TAILWINDCSS</li>
      </ul>
    </div>
    <div class="marquee relative flex select-none overflow-hidden bg-[#efebce]">
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#efebce] p-3 px-2"
      >
        <li>REACT</li>
        <li>SVELTE</li>
      </ul>
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#efebce] p-3 px-2"
        aria-hidden="true"
      >
        <li>REACT</li>
        <li>SVELTE</li>
      </ul>
    </div>
    <div class="marquee relative flex select-none overflow-hidden bg-[#d8a48f]">
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#d8a48f] p-3 px-2"
      >
        <li>FIREBASE</li>
        <li>MONGODB</li>
        <li>POSTGRESQL</li>
        <li>MYSQL</li>
      </ul>
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#d8a48f] p-3 px-2"
        aria-hidden="true"
      >
        <li>FIREBASE</li>
        <li>MONGODB</li>
        <li>POSTGRESQL</li>
        <li>MYSQL</li>
      </ul>
    </div>
    <div class="marquee relative flex select-none overflow-hidden bg-[#bb8588]">
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#bb8588] p-3 px-2"
      >
        <li>GIT</li>
        <li>GITHUB</li>
        <li>WEBPACK</li>
        <li>VITE</li>
        <li>FIGMA</li>
      </ul>
      <ul
        class="marquee__content flex min-w-[100%] shrink-0 items-center justify-around bg-[#bb8588] p-3 px-2"
        aria-hidden="true"
      >
        <li>GIT</li>
        <li>GITHUB</li>
        <li>WEBPACK</li>
        <li>VITE</li>
        <li>FIGMA</li>
      </ul>
    </div>
  </div>
  <!-- <p class="text-center text-xxs md:text-right md:text-lg">
    {t("tech.p1")}
  </p> -->
</section>

<style>
  .marquee {
    --gap: 0.0001rem;
    gap: var(--gap);
  }

  .marquee:hover {
    filter: brightness(1.1);
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  .marquee__content {
    gap: var(--gap);
    animation: scroll 10s linear infinite;
  }
</style>
