---
// import { getLangFromUrl, useTranslations } from "../i18n/utils";
// const lang = getLangFromUrl(Astro.url);
// const t = useTranslations(lang);
---

<button
  onclick="
  if (document.documentElement.attributes.getNamedItem('data-theme')?.value === 'dark') {
    document.dispatchEvent(new CustomEvent('set-theme', { detail: 'light' }));
  } else {
    document.dispatchEvent(new CustomEvent('set-theme', { detail: 'dark' }));
  }
  "
  class="toggle-theme before:toggle-theme after:toggle-theme hidden self-start font-roboto-mono text-smoll opacity-50 before:content-['['] after:content-[']'] md:block md:text-xxs"
></button>
<script>
  import { gsap } from "gsap";

  const root = document.querySelector("html");
  const toggleThemeButton = document.querySelector("button");

  if (window.location.pathname === "/en/") {
    if (root?.dataset.theme === "dark") {
      toggleThemeButton!.textContent = "light";
    } else if (root?.dataset.theme === "light") {
      toggleThemeButton!.textContent = "dark";
    }
  } else {
    if (root?.dataset.theme === "dark") {
      toggleThemeButton!.textContent = "claro";
    } else if (root?.dataset.theme === "light") {
      toggleThemeButton!.textContent = "oscuro";
    }
  }

  toggleThemeButton?.addEventListener("click", changeTextContent);
  function changeTextContent() {
    if (window.location.pathname === "/en/") {
      if (root?.dataset.theme === "dark") {
        toggleThemeButton!.textContent = "light";
      } else if (root?.dataset.theme === "light") {
        toggleThemeButton!.textContent = "dark";
      }
    } else {
      if (root?.dataset.theme === "dark") {
        toggleThemeButton!.textContent = "claro";
      } else if (root?.dataset.theme === "light") {
        toggleThemeButton!.textContent = "oscuro";
      }
    }
  }

  gsap.from(".toggle-theme", {
    duration: 2.5,
    y: -100,
    opacity: 0,
    ease: "power4.inOut",
  });
</script>
