---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<div
  class="wrapper flex flex-col justify-center border-[1px] border-pure-black shadow-wrapper dark:border-pure-white dark:shadow-wrapper-light md:border-2"
>
  <div
    class="flex items-center border-b-[1px] border-pure-black px-[1px] text-xxs dark:border-pure-white md:border-b-2 md:px-[2px] md:text-xs"
  >
    <div class="grow text-center">{title}</div>
    <slot name="right-icon" />
  </div>
  <div>
    <slot name="content" />
  </div>
</div>
<script>
  import { gsap } from "gsap";
  gsap.from(".wrapper", {
    // scrollTrigger: ".draw-description",
    rotation: 0.01,
    duration: 1,
    y: 50,
    opacity: 0,
    ease: "power1.Out",
  });
</script>
