---
import "../styles/global.css";
import ogImage from "../images/good.jpg";
import Themes from "astro-themes";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Themes defaultTheme="dark" />
    <meta charset="UTF-8" />
    <meta name="description" content="Personal Website" />
    <meta property="og:description" content="Personal Website" />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/du8wo1cxh/image/upload/v1705269967/foz28fazc1oofevohmd2.png"
    />
    <meta
      name="viewport"
      content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0"
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="dark:text-pure-whit bg-pure-white font-inconsolata text-pure-black dark:bg-pure-black dark:text-pure-white"
  >
    <slot />

    <!-- <script>
      import gsap from "gsap";
      gsap.to(".base-clip", {
        clipPath: "polygon(0 0, 100% 0%, 100% 100%, 0 100%)",
        ease: "power3.inOut",
        delay: 0.1,
        duration: 3,
      });
    </script> -->
    <style is:global>
      :root::-webkit-scrollbar {
        display: none;
      }

      :root {
        scrollbar-width: none;
        -ms-overflow-style: none;
      }

      .footer-link {
        width: fit-content;
      }
      .footer-link:hover,
      tr.data-hover-effect:hover {
        color: hsl(54, 100%, 94%);
        background: repeating-conic-gradient(
            from 0deg,
            #111 0% 25%,
            transparent 25% 50%,
            #111 50% 75%,
            transparent 75% 100%
          )
          1px 0.5px / 2px 2px;
      }

      tr.data-hover-effect:active {
        background: hsl(150 7% 6% / 50%);
      }

      html[data-theme="dark"] .footer-link:hover,
      html[data-theme="dark"] tr.data-hover-effect:hover {
        color: hsl(150, 7%, 6%);
        background: repeating-conic-gradient(
            from 0deg,
            hsl(54, 100%, 94%) 0% 25%,
            transparent 25% 50%,
            hsl(54, 100%, 94%) 50% 75%,
            transparent 75% 100%
          )
          1px 0.5px / 2px 2px;
      }
    </style>
  </body>
</html>
